name: CI

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain:
          - stable
          - nightly

    steps:
      - name: Install required packages
        run: sudo apt-get install -y edid-decode

      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true

      - name: Setup Test EDIDs
        run: |
          mkdir -p tests/edid-db/edid.tv/
          curl -sfL http://edid.tv/edid/2252/download/ -o tests/edid-db/edid.tv/edid.tv-2252.bin
          edid-decode --check < tests/edid-db/edid.tv/edid.tv-2252.bin

          mkdir -p tests/edid-db/linuxhw/
          curl -sfL https://raw.githubusercontent.com/linuxhw/EDID/master/Digital/Dell/DEL4098/C3BA37F18DB7 -o tests/edid-db/linuxhw/linuxhw-C3BA37F18DB7.edid
          edid-decode -o raw - tests/edid-db/linuxhw/linuxhw-C3BA37F18DB7.bin < tests/edid-db/linuxhw/linuxhw-C3BA37F18DB7.edid

      - name: Build
        uses: "actions-rs/cargo@v1"
        with:
          command: build
          args: ${{ matrix.toolchain == 'nightly' && '--all-features' || '' }} --all-targets --verbose

      - name: Run Tests
        uses: "actions-rs/cargo@v1"
        with:
          command: test
          args: ${{ matrix.toolchain == 'nightly' && '--all-features' || '' }} --all-targets --verbose

  dependabot:
    runs-on: ubuntu-latest
    needs:
      - build_and_test

    permissions:
      pull-requests: write
      contents: write

    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request'}}
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1.1.1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
